<mat-card style="width: 50%; background-color: grey">
  <mat-card-header>
    <mat-card-title>Edit entry</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; justify-content: space-between">
      <label for="foodname">Foodname:</label>
      <input
        id="foodname"
        type="text"
        placeholder="Enter Foodname"
        [(ngModel)]="food.foodName"
      />
    </div>

    <div style="display: flex; justify-content: space-between">
      <label for="foodtype">Footype:</label>
      <input
        id="foodtype"
        type="text"
        placeholder="Enter FoodType"
        [(ngModel)]="food.foodType"
      />
    </div>

    <div style="display: flex; justify-content: space-between">
      <label for="calories">Calories:</label>
      <input
        id="calories"
        type="text"
        placeholder="Enter Calories"
        [(ngModel)]="food.calories"
      />
    </div>

    <button (click)="doSave()" color="primary">Save</button>
    <button (click)="doAdd()" color="primary">AddNew</button>
  </mat-card-content>
</mat-card>
